# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Payme Merchant API
PAYME_MERCHANT_ID=
PAYME_MERCHANT_KEY=
PAYME_ENV=sandbox

# Telegram Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_GROUP_CHAT_ID=

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
